.navbar{
	justify-content: flex-start;
}

.logout-btn{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 30px
}

.org-name{
	color: #D7F205;
	margin: 1rem;
	position: relative;
	left: 0px;
	vertical-align: middle;
}

@media (max-width: 737px){
	.org-name{
		margin: 0rem;
	}
}