.card {
  border-radius: 2px;
  min-height: 50vh;
  margin: 1rem;
  position: relative;
  width: 25%;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
  opacity: .9;
  font-size: 2rem
}

.card:hover {
  opacity: 1;
}

.img-container {
  height: auto;
  max-height: 30vh;
  overflow: hidden;
  text-align: center;
  opacity: 1;
  width: 100%;
}

.post-image {
  width: 100% !important;
  min-height: 30vh;
}

.card > .content {
  padding-top: 0.3rem !important;
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
  font-size: 1rem;  
  font-family: 'Nanum Gothic', sans-serif !important;
}

.resetmargin{
  margin-left: 0px;
  margin-bottom: 0px;
}

@media (max-width: 737px){
  .card{
    width: 100%
  }
}