.text {
  /* background: #fff; */
  border-radius: 2px;
  border-color: black;
  border-width: 3px;
  height: auto;
  margin: 1rem;
  position: relative;
  /* width: 90%; */
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
  /* opacity: .5; */
  /* background-image: url("./IMG/BG.gif") */
}

.text:hover {
  
  box-shadow: 0 6px 12px #999, 0 6px 12px #999;
}

.card > .img-container {
  height: 60%;
  overflow: hidden;
  text-align: center;
  opacity: 1;
  /* background:#6CADDC; */
}

.card > .img-container > img {
  width: 80%
}

.card > .content {
  padding-left: .1rem;
  padding-right: .3rem;
  padding-top: 1rem;
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* height: 12rem; */
}

.card > .content > ul {
  list-style-type: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card > .content > ul > li {
  margin-top: 18px;
  padding-inline: 5rem;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
