.wrapper {
    min-height: 100%;
    padding-bottom: 100px;
  }


  .container {
    background: rgb(125,7,242);
    background: radial-gradient(circle, rgba(125,7,242,1) 60%, rgba(82,7,242,1) 100%);
  }

  .row {
    justify-content: center;
  }