.hero {
    width: 100%;
    background-size: cover;
    background-position: center;
    /* margin-top: 1rem; */
    position: relative;
    text-align: center;
  }
  
  /* .hero::after {
    content: "";
    display: block;
    opacity: .4;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
  } */
  
  .hero * {
    position: relative;
    z-index: 2;
  }

   .friendsHead {
    margin: 0, auto;
    bottom: 0;
    position: relative;
    right: 20rem;

  }

  /*.textHead{
    color: white;
    margin-top: -10rem;
    left: 50%;
    position: absolute;
  } */
  
  /* .hero h1, .hero h2 {
    color: white;
  }
  
  .hero h1 {
    font-size: 60px;
    padding-top: 140px;
    margin-top: 0;
  } */
  