.details-tab{
    background-color: #ffffff;
    border-radius: 0px 0px 3px 3px;
}

.event-title {
    overflow: hidden;
    padding-left: 3%;
    padding-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8em;
    font-weight: bold;
    color: rgb(68, 68, 68);
}

.event-timedate, .event-location {
    overflow: hidden;
    padding-left: 3%;
    margin-top: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    color: rgb(68, 68, 68);
}

.event-location {
    padding-bottom: 15px;
}

.event-info {
    display: inline-block;
    background-color: #ffffff;
    min-height: calc(100% - 60px);
    margin: 30px 2% 30px 0%;
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 3px;
}

.poster-org {
    display: inline-block;
    width: 98%;
    min-height: calc(100% - 60px);
    background-color: #ffffff;
    margin: 30px 0% 30px 2%;
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 3px;
}

.event-info p, .poster-org p {
    margin-left: 0px;
}

.event-info .apoyo {
    margin-bottom: 3px;
}

.poster-name {
    margin-top: 20px;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}

.external-link {
    text-align: center;
}

p {
    text-align: justify;
    text-justify: inter-word;
}

h5 { 
    color: rgb(75, 75, 75);
}

a {
    color: blueviolet;
    justify-content: left;
}

.textInfoEsp {
    padding: inherit;
    margin: 1.5rem 1rem 0 0;
}

.TextObjNed {
    margin-top: 1.5rem;
}

@media (max-width: 767px){

    .event-info, .poster-org {
        margin: 30px 0% 30px 0%;
    }

    .poster-org {
        height: auto;
        margin: 0px 0% 30px 0%;
        width: 100%;
    }
}