.nombre {
    background: rgb(233, 233, 226);
    height: 150px;
    text-align: center;
    vertical-align: middle;
    line-height: 150px;
    font-size: 100px;
}

.logo {
    background: rgb(212, 229, 209);
    height: 150px;
}

.logoo {
    height: 100%;
}

.foto {
    background-image: URL("/images/backgroundPrueba.jpg");
    background-size: cover;
    height: auto;
    background-repeat: no-repeat;
}

.infoEspecifica {
    padding-left: 35px;
}

.objNecesidades {
    padding-right: 35px;
}