.header-row, .info-row, .events-row {
    background: rgb(246, 246, 246);
}

.header-container, .info-container, .events-container {
    margin: 0px 3% 0px 3%;
    position: relative;
}

.events-container {
    background-color: #ffffff;
    margin-bottom: 30px;
    padding-top: 35px;
    padding-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 3px;
}

.events-title {
    text-align: center;
    margin-bottom: 20px;
}

.foto {
    height: 250px;
    width: 100%;
    background-size: cover;
    background-position: right 0px bottom -120px;
}

.name-tab{
    min-height: 80px;
    background-color: #ffffff;
    border-radius: 0px 0px 3px 3px;
    display: flex;
}

.nombre {
    min-height: 75px;
    width: 85%;
    padding-left: 20%;
    display: flex;
    align-items: center;
}

.nombre-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8em;
    font-weight: bold;
    color: rgb(68, 68, 68);
    overflow-wrap: break-word; 
}

.dashboard {
    width: 15%;
    padding-right: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.dashboard-icon {
    height: 30px;
    margin: 0px 5px;
}

.dashboard-btn {    
    margin: 0px 5px;
}

.logo-container {
    background: #ffffff;
    height: auto;
    width: 15%;
    position: absolute;
    left: 10%;
    bottom: 5%;
    transform: translateX(-50%);
    z-index: 1;
}

.logo {
    height: 90%;
    width: 90%;
    margin: 5%;
}

.org-info {
    display: inline-block;
    background-color: #ffffff;
    margin: 30px 2% 30px 0%;
    min-height: calc(100% - 60px);
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 3px;
}

.org-contact {
    display: inline-block;
    width: 98%;
    min-height: calc(100% - 60px);
    background-color: #ffffff;
    margin: 30px 0% 30px 2%;
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 3px;
}

.org-info p, .org-contact p {
    margin-left: 0px;
}

.org-contact p {
    margin-bottom: 3px;
}

.contact-div, .needs-div {
    margin-top: 30px
}

h3 {
    font-weight: bold;
}

.new-button {
    margin: 20px;
}

@media (max-width: 767px){

    .logo-container {
        height: 150px;
        width: 150px;
        left: 50%;
        top: 20%;
    }

    .name-tab {
        display: inline-block;
        width: 100%
    }

    .nombre {
        padding-left: 0px;
        padding-top: 25px;
        width: 100%;
        justify-content: center;
        align-items: initial;
    }

    .nombre-text{
        font-size: 1.6em;
        text-align: center; 
    }

    .dashboard {
        width: 100%;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 0px;
    }

    .foto {
        height: 200px;
        background-position: right 0px bottom 0px;
    }

    .org-info, .org-contact {
        margin: 30px 0% 30px 0%;
    }

    .org-contact {
        height: auto;
        margin: 0px 0% 30px 0%;
        width: 100%;
    }

}

@media (max-width: 576px){
    .header-container, .info-container, .events-container {
        margin: 0px;
        position: relative;
    }
}   